$headerHeight: 52px;

/* Colors */
$backgroundAside: #1A1A1A;
$mainWhite: #fff;
$mainBlack: #000;
$blackSecondary: #161616;
$mainGray: #A6A6A6;
$mainGreen: #00B073;
$mainBlue: #005EA6;
$secondaryGray: #2E2E2E;
